body {
  font-family: system-ui;
  background: #DEC8E8;
  color: #522A65 !important;
  text-align: center;
  width: 640px;
  margin: 0 auto;
  padding-top: 15px;
}

img {
  height: 200px;
  width: 375px;
}

.container {
  max-height: 100vh; /* Try setting this to a higher value */
}